.text-center{
    text-align: center;
    
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }

  .border{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center; 
  }
